# Voedselprijzen in de derde wereld

Robert-Jan Korteschiel (10399143)  
Robert Houten  
Sander Kohnstamm (10715363)  
Joost de Wildt (12173002)

## Vooronderzoek

Dit is een dataset die wekelijks wordt geupdated over voedselprijzen. De auteur is het World Food Programme, een humanitaire organisatie die steeft naar het ideaal van "zero hunger". Daar baseren ze al hun werk al op data en hebben ook al goede dataviz draaien. Interessant is dat ze hier combineren met veel GIS informatie zoals administratieve grenzen, wegennetwerken en klimaatdata. 

<div style="display: flex; width: 100%; justify-content: space-around;">
    <div style="width: 45%">
        <img src="food_viz.png" style="display: block; width: 100%; height: auto;" alt="GIS visualisation">
    </div>
    <div style="width: 45%">
        <img src="patterns.jpg" style="display: block; width: 100%; height: auto;" alt="Line visualisation">
    </div>
</div>


Er is dus al veel werk gedaan op de data, maar er mist ook veel informatie. Opvallend is dat economische en politieke gegevens missen in de analyse. Daarnaast bekijken ze de derde wereld echt per land en zien kijken ze bijna niet naar hoe deze problematiek grensoverstijgend is (of is dat wel zo?). Bovendien is het alles behalve een verhaal, dit is echt een visualisatie. Het is interessant of we delen kunnen namaken en tot een verhaal kunnen omvormen. 

[bron] https://data.humdata.org/dataset/wfp-food-prices  
[algemene omschriving] https://docs.wfp.org/api/documents/WFP-0000040024/download/   
[dierpere omschrijving] http://mvam.org/2018/11/20/getting-up-to-speed-wfp-food-data-on-hdx/  
[snelle verkenning] https://dataviz.vam.wfp.org   
[UN exchange rates] https://treasury.un.org/operationalrates/OperationalRates.php

## Invalshoeken

1. Welke van de volgende gebeurtenissen heeft de grootste invloed op globale voedselprijzen?
    - Temperatuur
    - Brandstofprijs
    - Dagloon  


2. Vallen gebeurtenissen te herleiden uit voedselprijzen?

# Food

## Bootstrap

In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, iplot
from sklearn import preprocessing
from operator import itemgetter, attrgetter
import ipywidgets as widgets
from ipywidgets import interact, interact_manual
from functools import partial
import datetime

init_notebook_mode(connected=True)

pd.options.display.max_rows = 100
pd.options.display.max_seq_items = 100

## Inladen

en laat de head() zien

In [2]:
food_df = pd.read_csv("./food_data/food.csv", low_memory=False)
display(food_df.head())

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,1,2014,50.0,NaN
1,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,2,2014,50.0,NaN
2,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,3,2014,50.0,NaN
3,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,4,2014,50.0,NaN
4,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,5,2014,50.0,NaN

## Transformatie

### Normalisatie

Normalisatie functie voor verschillende groepen in de data. Ik vermoed dat je het beste binnen een land op commodity kan normaliseren. Doe je het op een andere plek dan worden minder waardevolle commodities binnen groepen minder belangrijk. Het is aannemelijk dat graan wholesale flink goedkoper is dan graan retail. Als je die in absolute nummers optelt dan domineert het verschil in de retailprijs.

Je zou overigens nog een argument kunnen maken dat je eigenlijk op provincie of zelfs stadsniveau moet gaan normaliseren.

In [3]:
def normalize_group(key, group_df):
    # bootstrap a new normalizer   
    min_max_scaler = preprocessing.MinMaxScaler()
    
    # reshape the series to array so that the normalizer accepts it
    to_normalize = group_df[key].values.reshape(-1, 1)
    
    # do the actual normalisation     
    x_scaled = min_max_scaler.fit_transform(to_normalize)
    
    # undo some weird numpy nesting of arrays    
    x_scaled = np.concatenate(x_scaled).ravel()
    
    # concatenate it to the group_df    
    group_df[f"{key}_norm"] = x_scaled
    
    # trow the group out     
    return group_df
    
food_norm_df = food_df.groupby(by=["adm0_name", "cm_name"]).apply(partial(normalize_group, "mp_price"))

### Groeperen

De vergelijkbaarheid per commodity per land echt heel laag, maar hele korte stukken data overlappen echt. Het WFP meet blijkbaar alleen als ze geinteresseerd zijn in iets, om de een of andere reden. Vervolgens redeneren we dat we al het voedsel samentrekken tot een enkele trend, dat moet de vergelijkbaarheid al aardig hoger maken. Voor onze onderzoeksvraag is het immers alleen interessant dat we veranderingen in voedselprijzen afzetten tegen brandstof, lonen en klimaat. Misschien dat we daarna gewoon een land kiezen met het meeste data, los van de vergelijkbaarheid, voor de andere onderzoeksvraag.

Groepeert alle commodities op basis het het eerste woord in hun definitie. 

**LET OP! Hier zit een grote assumptie. Een jaar kan een waarde krijgen op een enkele meting**

In [4]:
# groepeer de commodities met hun eerst woord
pat = '^([\w\-]+)'
selection = food_norm_df["cm_name"].str.extract(pat, expand=False)
grouped_commodity_df = food_norm_df.groupby(by=["adm0_name", selection, "mp_year"])


### Selecteren 

Verkenning en functies om te selecteren.

Spoiler: De groep "Rice" heeft de meeste datapunten en 2016 is het jaar met de minste NaN's.

#### Verkenning: Barchart

Maar welke goederen zijn daadwerkelijk interessant? Totaal aantal records of jaren per land met data.

**Dee laatste kwaliteit metriek gebruik ik in de rest van de selecties, met toevoeging van brandstof en wage**

In [5]:

def barchart_records():
    # calculate
    quality_count = grouped_commodity_df["mp_price"].count().reset_index().groupby(by="cm_name")["mp_price"].sum().sort_values()

    # truncate the long barchart
    quality_count_trunc = quality_count[-20:]

    # visualize
    barchart_trace = go.Bar(y=quality_count_trunc.index, x=quality_count_trunc.values, orientation = 'h')

    layout = go.Layout(
        autosize=False,
        width=800,
        height= 200 + 20 * len(quality_count_trunc.index),
        yaxis=dict(
            showticklabels=True,
            automargin=True
        )
    )

    fig = go.Figure(data=[barchart_trace], layout=layout)
    print(f"Total sum of records: {quality_count.sum()} " )
    iplot(fig)

def barchart_years():
    quality_years = grouped_commodity_df["mp_price_norm"].mean().reset_index().groupby(by=["cm_name"])["mp_price_norm"].count().sort_values()
    quality_years_trunc = quality_years[-20:]

    barchart_trace = go.Bar(y=quality_years_trunc.index, x=quality_years_trunc.values, orientation = 'h')

    layout = go.Layout(
        autosize=False,
        width=800,
        height= 200 + 20 * len(quality_years_trunc.index),
        yaxis=dict(
            showticklabels=True,
            automargin=True
        )
    )

    fig = go.Figure(data=[barchart_trace], layout=layout)
    print(f"Total sum of year with data: {quality_years.sum()} " )
    iplot(fig)

def barswitcher(barchart_type):
    if barchart_type == "total records":
        barchart_records()
    if barchart_type == "per year, per country":
        barchart_years()

interact(barswitcher, barchart_type=["total records", "per year, per country"])

# Doe de eerste tien en concatenate wage (fuel zit al in deze lijst)
selectie = [*grouped_commodity_df["mp_price_norm"].mean().reset_index().groupby(by=["cm_name"])["mp_price_norm"].count().sort_values(ascending=False)[:10].index, "Wage"]

interactive(children=(Dropdown(description='barchart_type', options=('total records', 'per year, per country')…

#### Verkenning: Heatmap

Even een beetje verkenning om wat beter zicht op de data te krijgen. In deze visualisatie kun je goed zien waar het gewicht in de data zit. Hier zie je goed hoe een goed per land zit. De barcharts geven slecht totalen aan, hier zie je de daarwerkelijke verdeling.

**TODO: Zelfde grafiek, maar dan met goederen regenover jaar (ipv. land)**

In [6]:
def heatmap_quality(commodity):
    quality = grouped_commodity_df["mp_price_norm"].count().xs(commodity, level=1).unstack(level=1)
    quality = quality.reindex(sorted(quality.columns), axis=1)
    heatmap_trace = go.Heatmap(z = quality.values, x=quality.columns, y=quality.index, colorscale= 'Jet')

    layout = go.Layout(
        autosize=False,
        width=800,
        height= 100 + 20 * len(quality.index),
        yaxis=dict(
            showticklabels=True,
            automargin=True
        )
    )

    fig = go.Figure(data=[heatmap_trace], layout=layout)
    print(f"Total sum of measurements: {quality.sum().sum()} " )
    iplot(fig)

interact(heatmap_quality, commodity=[*selectie, "Fuel", "Wage"])

interactive(children=(Dropdown(description='commodity', options=('Rice', 'Maize', 'Oil', 'Wheat', 'Beans', 'Su…

#### Verkenning: Outliers scatterplots

Ik gooi heel doodleuk .mean().diff() op de dataset. Klaar, paar transformaties ertussen en huppathee. Maar de mean is geen robuuste metriek van centraliteit. Even iets meer zicht krijgen op de lijnen die ik aan het reduceren ben tot een gemiddelde.

Eerst even wat prep:

In [7]:
# Run the foodtype string reduction
food_selected_df = food_norm_df.copy()
food_selected_df["cm_name"] = selection

# Properly set datetime
food_selected_df["year"] = food_selected_df["mp_year"]
food_selected_df["month"] = food_selected_df["mp_month"]
food_selected_df["day"] = 1
food_selected_df["dt"] = pd.to_datetime(food_selected_df[['year', 'month', 'day']])

Nu de magie

In [32]:
def scatter_commodity_country(country, commodity):
    # select a country
    country_food_points = food_selected_df[(food_selected_df["adm0_name"] == country) & (food_selected_df["cm_name"] == commodity)]

    # make a scatter
    scatter_trace = go.Scattergl(
        x = country_food_points["dt"],
        y = country_food_points["mp_price"],
        mode = 'markers',
        name = "Meetpunten",
        marker = dict(
            color = "#2077b4",
            size = 4,
            line = dict(
                width = 0
            )
        )
    )

    # make a mean
    county_food_mean = country_food_points.groupby(by=[country_food_points.dt.dt.year])["mp_price"].mean()
    line_trace = go.Scatter(
        x = county_food_mean.index,
        y = county_food_mean.values,
        name = "Mean"
    )
    
    # make a mean
    county_food_median = country_food_points.groupby(by=[country_food_points.dt.dt.year])["mp_price"].median()
    median_trace = go.Scatter(
        x = county_food_median.index,
        y = county_food_median.values,
        name = "Mediaan"
    )

    iplot([scatter_trace, median_trace, line_trace])
    
    # add some descriptives     
    descriptives = country_food_points.groupby(by=["year"])["mp_price"].describe()
    descriptives = descriptives.append(country_food_points["mp_price"].describe().rename("Total"))
    display(descriptives)

interact(scatter_commodity_country, country=food_selected_df["adm0_name"].unique(), commodity=selectie)

interactive(children=(Dropdown(description='country', options=('Afghanistan', 'Algeria', 'Angola', 'Armenia', …

#### Verkenning: Graag alle patronen tegelijkertijd

**WIP!! NIET AF!**

Wat doen een mean over alle landen? Die we uiteindelijk nodig hebben om onze hypotheses te toetsen. Welke landen worden grof fout gerepresenteerd in de lijn? Grid met lijngrafieken met land en gemiddelde van alle landen.

In [9]:
def scatter_commodity_country(country, commodity):
    # construct global mean WRONG!!!!!!!
#     global_mean = food_selected_df[(food_selected_df["adm0_name"] == country)]["mp_price"].groupby(by=[food_selected_df.dt.dt.year]).mean()
#     display(global_mean)
    
    # select a country
    country_food_points = food_selected_df[(food_selected_df["adm0_name"] == country) & (food_selected_df["cm_name"] == commodity)]
    
    # make a mean
    county_food_mean = country_food_points.groupby(by=[country_food_points.dt.dt.year])["mp_price"].mean()
    county_mean_trace = go.Scatter(
        x = county_food_mean.index,
        y = county_food_mean.values,
        name = "Mean"
    )
    
    # global mean    
    
    iplot([county_mean_trace])

interact(scatter_commodity_country, country=food_selected_df["adm0_name"].unique(), commodity=selectie)

interactive(children=(Dropdown(description='country', options=('Afghanistan', 'Algeria', 'Angola', 'Armenia', …

### Reduceren

Het gemiddelde berekenen en het verschil per jaar.

In [10]:
# bereken het gemiddelde per jaar en vergelijk dat met het vorige jaar
grouped_commodity_mean_df = grouped_commodity_df["mp_price_norm"].mean()

# unstack zodat het verschil per jaar berekend kan worden
grouped_commodity_diff_df = grouped_commodity_mean_df.unstack(level=2).diff(axis=1)
grouped_commodity_diff_df.head()

mp_year                1992  1993  1994  1995  1996  1997  1998  1999  2000  \
adm0_name   cm_name
Afghanistan Bread       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
            Exchange    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
            Fuel        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
            Livestock   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
            Rice        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

mp_year                    2001  ...      2010      2011      2012      2013  \
adm0_name   cm_name              ...
Afghanistan Bread           NaN  ...       NaN       NaN       NaN       NaN
            Exchange        NaN  ...       NaN       NaN       NaN       NaN
            Fuel      -0.007045  ...       NaN       NaN       NaN       NaN
            Livestock  0.135611  ...       NaN       NaN       NaN       NaN
            Rice            NaN  ... -0.041588  0.015685  0.072097  0.123801

mp_year                    2014      2015      2016      2017      2018  \
adm0_name   cm_name
Afghanistan Bread           NaN  0.055021 -0.007271 -0.006384 -0.004228
            Exchange        NaN  0.178623  0.301038  0.014753  0.200153
            Fuel            NaN -0.000093 -0.000046  0.000044  0.000035
            Livestock       NaN       NaN       NaN       NaN       NaN
            Rice      -0.054074 -0.047844  0.025185  0.038895  0.025792

mp_year                    2019
adm0_name   cm_name
Afghanistan Bread      0.000900
            Exchange   0.154888
            Fuel       0.000014
            Livestock       NaN
            Rice      -0.002980

[5 rows x 28 columns]

## Utility

Even voor het gemak

In [11]:
# Utility om selecteren makkelijker te maken
def select_commodity(commodity, year):
    return grouped_commodity_diff_df.xs(commodity, level=1, drop_level=True)[year]

## Visualisatie: Map

Okee, een kaart met interactiviteit. Vond de Iphyton docs eigenlijk fijner.

[interactieve plots] https://towardsdatascience.com/interactive-controls-for-jupyter-notebooks-f5c94829aee6  
[iphython widget docs] https://ipywidgets.readthedocs.io/en/stable/examples/Using%20Interact.html

### Food change maps

In [12]:
def map_graph(commodity=selectie, year=(2007, 2019, 1)):
    # Plot the mean price, of all commodities on map, of all years.
    series = select_commodity(commodity, year)
    map_data = [go.Choropleth(
        locations = series.index,
        locationmode = "country names",
        z = series.values,
    )]

    fig = go.Figure(data = map_data)
    iplot(fig)
    
interact(map_graph, commodity=selectie, year=(2007, 2019, 1))

interactive(children=(Dropdown(description='commodity', options=('Rice', 'Maize', 'Oil', 'Wheat', 'Beans', 'Su…

## Controle

Om te controleren of de dataset correct is moeten we natuurlijk even een test draaien. Ik heb globale voedselprijzen even als benchmark genomen. Daar ligt waarschijnlijk een sterke correlatie, zeker voor gebieden die niet direct in conflict zijn.

[imf commodity prices data] https://www.imf.org/en/Research/commodity-prices  
[interessante analyse voedsel] https://ourworldindata.org/food-prices  
[interessante statistische analyse van commodities] https://www.imf.org/~/media/Files/Research/CommodityPrices/WEOSpecialFeature/SFApril2019.ashx

In [13]:
# selecteer rijst en bereken het gemiddelde
commodity_imf_df = pd.read_csv("./commodity_imf_proper.csv", dtype=float, decimal=",")
commodity_imf_df = commodity_imf_df.set_index('Year')

def normalize_series(series):
    # bootstrap a new normalizer   
    min_max_scaler = preprocessing.MinMaxScaler()
    
    # reshape the series to array so that the normalizer accepts it
    to_normalize = series.values.reshape(-1, 1)
    
    # do the actual normalisation     
    x_scaled = min_max_scaler.fit_transform(to_normalize)

    # undo some weird numpy nesting of arrays    
    x_scaled = np.concatenate(x_scaled).ravel()
    
    # trow the series     
    return pd.Series(x_scaled, index = series.index)

def line_graph(food):
    # create an average of all countries    
    test = grouped_commodity_diff_df.xs(food, level=1, drop_level=False).mean()
    
    # use the IMF data to compute a nomalized and diffed line too    
    control = normalize_series(commodity_imf_df[food]).diff()
    
    test_trace = go.Scatter(
        name = "WFP",
        x = test.index,
        y = test.values
    )
    
    control_trace = go.Scatter(
        name = "IMF",
        x = control.index[-25:],
        y = control.values[-25:]
    )
    
    iplot([test_trace, control_trace], filename='basic-line')

interact(line_graph, food=["Rice", "Wheat", "Sugar"])

interactive(children=(Dropdown(description='food', options=('Rice', 'Wheat', 'Sugar'), value='Rice'), Output()…

## Resultaat

Er lijkt wel iets van een correlatie te zijn, maar er zitten ook rare verschillen tussen. Metname de pieken zijn veel hoger. Maar duidelijk is dat 2008 een grote impact heeft gehad. Ik denk dat we nog even goed moeten kijken naar hoe we normaliseren. Het is best mogelijk om hiermee te spelen lijkt het, maar wat verantwoord is twijfel ik aan.

# Klimaat

Nu eens kijken of het samenhangt met klimaat. Ik heb het gevoel dat hier enige correlatie vinden hier moeilijk gaat worden.

## Load data

In [14]:

climate_df = pd.read_csv("./climate_data/GlobalLandTemperaturesByCountry.csv", low_memory=False)
display(climate_df.head())

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland

## Type and normalize

Here we go again.

1. Type the datetime
2. Normalize
3. Create year averages
4. Diff those averages to have something comparable

This is just a tad different data though. It's cumulative data, its not the same as money. And the effects are much longer term. Doesn't make sense.

In [15]:
# type properly
climate_df_typed = climate_df.copy()
climate_df_typed['dt'] = climate_df_typed['dt'].astype('datetime64[ns]')

# apply the normalize function (with a partial for the key)
climate_norm_df = climate_df_typed.groupby(by=["Country"]).apply(partial(normalize_group, "AverageTemperature"))

/Users/Robert-Jan/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:355: RuntimeWarning:

All-NaN slice encountered

/Users/Robert-Jan/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:356: RuntimeWarning:

All-NaN slice encountered

## Transform and select

In [16]:
# calulate the mean for the year
climate_mean_df = climate_norm_df.groupby(by=["Country", climate_norm_df["dt"].dt.year]).mean()
climate_mean_df.reset_index(inplace=True)

# quick function with assignment
def diff_temp(group_df):
    group_df["AverageTemperature_diff"] = group_df["AverageTemperature_norm"].diff()
    return group_df

# apply the difference function
climate_tran_df = climate_mean_df.groupby(by=["Country"]).apply(diff_temp).set_index(["Country", "dt"])

# quick selection function
def select_year(year):
    return climate_tran_df.xs(year, level=1, drop_level=False)

## Map: Tempratuur verschil met vorig jaar

Spreekt voor zich, maar of het interessant is is de tweede vraag.

In [17]:
def map_climate(year):
    year_data = select_year(year)
    map_data = [go.Choropleth(
            locations = year_data.index.get_level_values(0),
            locationmode = "country names",
            z = year_data["AverageTemperature_diff"].values,
        )]

    fig = go.Figure(data = map_data)
    iplot(fig)
    
interact(map_climate, year=(2007, 2013, 1))

interactive(children=(IntSlider(value=2010, description='year', max=2013, min=2007), Output()), _dom_classes=(…

# Events

Okee, wat moet ik hiervoor doen. Querys schrijven naar Google Big Query. Cool, eens kijken hoe dat werkt.

[GDELT database] https://www.gdeltproject.org/  
[forecasting op voedseldata] https://dataviz.vam.wfp.org/economic_explorer/price-forecasts-alerts  
[redelijke uitleg GDELT] http://data.gdeltproject.org/documentation/GDELT-Event_Codebook-V2.0.pdf  
[Uitleg gebruikte codes] https://www.gdeltproject.org/data/documentation/CAMEO.Manual.1.1b3.pdf

## Download data

Er is een Python client voor bigquery. Het is best simpel eigenlijk.

1. De clientlib installeren
2. Credentials file exporten in je shell (ik heb het aan mijn ~/.bash_profile toegevoegd en die gesourced, werkt perfect - MAC/Linux-only helaas)
2. Draai de sample query
3. Doe dingen met het dataframe

[setup credentials] https://cloud.google.com/bigquery/docs/reference/libraries#client-libraries-install-python  
[database description] https://bigquery.cloud.google.com/table/gdelt-bq:gdeltv2.events?pli=1  
[API reference] https://googleapis.github.io/google-cloud-python/latest/bigquery/index.html

In [18]:
from google.cloud import bigquery
client = bigquery.Client()

# write a good query to the right table (lookup the database stuffz)
query = (
    "SELECT V2Themes FROM `gdelt-bq.gdeltv2.gkg` WHERE DATE>20150302000000 and DATE < 20150304000000 and V2Persons like '%Netanyahu%' LIMIT 10;"
)

# create the query
query_job = client.query(
    query,
    location="US",
)

# run the query and turn the result to a dataframe
result = query_job.result().to_dataframe()

## Query

Wat moet het kunnen?

Het moet sentiment en count per land per jaar of maand geven.

In [19]:
display(result)

                                            V2Themes
0  MEDIA_MSM,1684;NEGOTIATIONS,1052;TAX_FNCACT_PR...
1  TERROR,2041;WB_2467_TERRORISM,2041;WB_2433_CON...
2  TAX_FNCACT_CANDIDATES,98;TAX_FNCACT_CANDIDATES...
3  TAX_FNCACT_PRIME_MINISTER,97;TAX_WEAPONS_BOMB,...
4  WB_2467_TERRORISM,2545;WB_2467_TERRORISM,3264;...
5  TAX_MILITARY_TITLE_LIEUTENANT_COLONEL,2144;TAX...
6  TAX_POLITICAL_PARTY_REPUBLICANS,1255;TAX_FNCAC...
7  MEDIA_MSM,4115;MILITARY_COOPERATION,2665;TAX_F...
8  TAX_FNCACT_INSPECTORS,786;TAX_RELIGION_ISLAM,4...
9  LEADER,27;LEADER,507;TAX_FNCACT_MINISTER,27;TA...

# Todo

## Food

### EDA
1. [x] Statistisch even wat beter naar de distributies van punten op de lijnen kijken (distributie gridplot?). Ik draai redelijk vaak mean() en dat is geen robuuste waarde. Outlier detectie heb ik er absoluut nog niet opzitten.
2. Gridplot van de goederen per land / per jaar maken om een diachroon perspectief te krijgen

### Datakwaliteit
3. [x] Giantische crosstabulatie heatmap maken van de datakwaliteit (en die verkleinen)
4. [x] Simpelere (bar)plot met hoeveelheid metingen per goed of land

## Klimaat

### EDA
1. Dit is het zwakke van klimaat, ik heb eigenlijk nog geen goed overzicht van distributes en ander inzicht in de kwaliteit van die set. 
2. Iets van diachronaal perspectief op deze set, om uberhaubt te checken dat het geen nagenoeg rechte lijn van 1990-2013 is. 


## Events

### Opzetten

#### Gemiddelden checken 
1. Goede query opstellen. Dit wordt eigenlijk de grote crux. In principe moeten we BigQuery al het werk laten doen hier. Het resultaat dat we willen hebben is niet zo heel erg gedetailleerd. 
2. Transformeren naar een vergelijkbaar dataframe. 
3. Plotten in lijn en kaart

#### Individuele events checken
4. Eventdetectie in de food dataset
5. Event en food events tegen elkaar afzetten

### EDA
6. Alles

### Kwaliteit
7. Wat de data precies beschrijven en wat de bronnen zijn twijfel ik ook nog aan. Het is regelrecht gigantisch en het is een academisch project. Maar dit is wel een extreem complexe set, met veel artikelen over hoe het gecodeerd is. (denk Goldstein sentiment en counts.. van wat precies?)


## Correlaties
1. Proberen goederen te clusteren tot een enkele lijn per land / wereld
2. Visuele EDA op de correlaties
3. Correlaties van die lijn inferentieel onderzoeken en tot een coefficient omzetten voor uiteindelijke conclusie.
    - Nadenken over welke assumpties daar ook al weer voor golden en welke tests dus aan voldaan moet zijn.