# Onderzoek

## Voedselprijzen in de derde wereld

Robert-Jan Korteschiel (10399143)  
Robert Houten  
Sander Kohnstamm (10715363)  
Joost de Wildt (12173002)

## Onderzoeksvragen

1. Welke van de volgende gebeurtenissen heeft de grootste invloed op globale voedselprijzen?
    - Temperatuur
    - Brandstofprijs
    - Dagloon  


2. Vallen gebeurtenissen te herleiden uit voedselprijzen?

## Bootstrap

In [11]:
import pandas as pd
import numpy as np
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, iplot
from plotly import tools
from sklearn import preprocessing
from functools import partial
import datetime
import math
from ipywidgets import Layout, Button, Box, HBox, VBox, widgets, interact, interact_manual, interactive, interactive_output

init_notebook_mode(connected=True)

pd.options.display.max_rows = 100
pd.options.display.max_seq_items = 100

# Voedsel

## Inladen

In [12]:
# WFP Data
food_df = pd.read_csv("./food_data/food.csv", low_memory=False)
display(food_df.head())

# IMF Data
imf_df = pd.read_csv("./commodity_imf_proper.csv", dtype={"Year": np.int32}, decimal=",", index_col="Year")
display(imf_df.head())

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,1,2014,50.0,NaN
1,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,2,2014,50.0,NaN
2,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,3,2014,50.0,NaN
3,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,4,2014,50.0,NaN
4,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,5,2014,50.0,NaN

,Beef,Hides,Lamb,Pork,Coal,Natural gas,Petroleum,Barley,Corn,Rice,...,Coffee,Cotton,Cottonseed,Palm oil,Peanuts,Rubber,Sugar,Tea,Tobacco,Wool
Year,,,,,,,,,,,,,,,,,,,,,
1850,76.81,64.52,78.37,55.13,94.97,NaN,NaN,116.84,98.80,124.97,...,138.99,134.81,NaN,117.31,NaN,NaN,210.84,191.12,181.27,121.18
1851,78.47,77.74,81.92,76.31,108.08,NaN,NaN,126.47,98.94,118.76,...,120.28,111.49,NaN,111.85,NaN,NaN,224.01,182.45,202.11,129.03
1852,80.21,73.57,81.05,92.36,104.16,NaN,NaN,143.71,106.77,132.18,...,112.38,110.30,NaN,114.61,NaN,NaN,196.05,155.16,180.21,144.90
1853,100.92,85.27,99.47,84.04,113.50,NaN,NaN,166.83,109.24,160.08,...,115.69,107.06,NaN,146.22,NaN,NaN,221.62,193.16,183.08,156.98
1854,102.38,90.77,91.53,67.31,128.82,NaN,NaN,166.45,118.18,166.22,...,123.18,86.57,NaN,174.55,NaN,NaN,196.08,180.65,169.19,134.13

## Transformeren

Ik heb ditmaal geprobeerd de global namespace een beetje schoner te houden, de grafieken doen nu elk hun eigen transformaties. Globale transformaties worden hier als kolom aan de food_df toegevoegd. Ik twijfel nog over of de
food_diff_df hier eigenlijk wel moet staan.

### Datums
voeg een kolom toe met een goed geformateerde datum

In [13]:
food_df["mp_date"] = pd.to_datetime(food_df[["mp_year", "mp_month"]].assign(day=1).rename(columns={"mp_year": "year", "mp_month": "month"}))

### Groeperen

In [14]:
# voeg een kolom met een groepering van commodities toe (geselecteerd op het eerste woord)
food_df["cm_name_grouped"] = food_df["cm_name"].str.extract('^([\w\-]+)', expand=False)

### Normalisatie

Minmax normalisatie

[TODO] normalisatie met een eikpunt

In [15]:
def normalize_series_minmax(series):
    # bootstrap a new normalizer
    min_max_scaler = preprocessing.MinMaxScaler()

    # reshape the series to array so that the normalizer accepts it
    to_normalize = series.values.reshape(-1, 1)

    # do the actual normalisation
    x_scaled = min_max_scaler.fit_transform(to_normalize)

    # undo some weird numpy nesting of arrays
    x_scaled = np.concatenate(x_scaled).ravel()

    # trow the series
    return pd.Series(x_scaled, index=series.index)

# run the normalization per country on individual goods
food_df["mp_price_norm"] = food_df.groupby(by=["adm0_name", "cm_name"])["mp_price"].apply(normalize_series_minmax)
display(food_df.head())

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,...,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource,mp_date,cm_name_grouped,mp_price_norm
0,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,...,Retail,5,KG,1,2014,50.0,NaN,2014-01-01,Bread,0.608974
1,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,...,Retail,5,KG,2,2014,50.0,NaN,2014-02-01,Bread,0.608974
2,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,...,Retail,5,KG,3,2014,50.0,NaN,2014-03-01,Bread,0.608974
3,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,...,Retail,5,KG,4,2014,50.0,NaN,2014-04-01,Bread,0.608974
4,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,...,Retail,5,KG,5,2014,50.0,NaN,2014-05-01,Bread,0.608974

In [16]:
# run same normalisation on the IMF database for a control number
imf_df = imf_df.apply(normalize_series_minmax, axis=1)
display(imf_df.head())

,Beef,Hides,Lamb,Pork,Coal,Natural gas,Petroleum,Barley,Corn,Rice,...,Coffee,Cotton,Cottonseed,Palm oil,Peanuts,Rubber,Sugar,Tea,Tobacco,Wool
Year,,,,,,,,,,,,,,,,,,,,,
1850,0.063294,0.027414,0.067848,0.000000,0.116311,NaN,NaN,0.180159,0.127492,0.203895,...,0.244825,0.232622,NaN,0.181532,NaN,NaN,0.454588,0.397016,0.368260,0.192830
1851,0.053124,0.051015,0.063090,0.046884,0.138660,NaN,NaN,0.191784,0.112257,0.169512,...,0.173903,0.148511,NaN,0.149551,NaN,NaN,0.473553,0.353497,0.410290,0.199180
1852,0.053322,0.033783,0.055794,0.089077,0.123801,NaN,NaN,0.240186,0.131481,0.206256,...,0.147990,0.141869,NaN,0.154552,NaN,NaN,0.394209,0.273880,0.347596,0.243688
1853,0.116830,0.062219,0.111770,0.057927,0.160729,NaN,NaN,0.346826,0.145863,0.323272,...,0.168371,0.138256,NaN,0.274907,NaN,NaN,0.538019,0.438706,0.403531,0.312454
1854,0.147611,0.103305,0.106205,0.013777,0.248512,NaN,NaN,0.392116,0.207907,0.391238,...,0.226988,0.087277,NaN,0.423027,NaN,NaN,0.505190,0.446306,0.402572,0.268776

### Differentieren

Bereken het gemiddelde per jaar en bereken het verschil per commodity per jaar

In [17]:
food_diff_df = food_df.groupby(by=["adm0_name", "cm_name_grouped", "mp_year"])["mp_price_norm"].mean().unstack(level=2).diff(axis=1)
display(food_diff_df.head())

imf_diff_df = imf_df.diff()
display(imf_diff_df.head())

mp_year                      1992  1993  1994  1995  1996  1997  1998  1999  \
adm0_name   cm_name_grouped
Afghanistan Bread             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
            Exchange          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
            Fuel              NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
            Livestock         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
            Rice              NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

mp_year                      2000      2001  ...      2010      2011  \
adm0_name   cm_name_grouped                  ...
Afghanistan Bread             NaN       NaN  ...       NaN       NaN
            Exchange          NaN       NaN  ...       NaN       NaN
            Fuel              NaN -0.007045  ...       NaN       NaN
            Livestock         NaN  0.135611  ...       NaN       NaN
            Rice              NaN       NaN  ... -0.041588  0.015685

mp_year                          2012      2013      2014      2015      2016  \
adm0_name   cm_name_grouped
Afghanistan Bread                 NaN       NaN       NaN  0.055021 -0.007271
            Exchange              NaN       NaN       NaN  0.178623  0.301038
            Fuel                  NaN       NaN       NaN -0.000093 -0.000046
            Livestock             NaN       NaN       NaN       NaN       NaN
            Rice             0.072097  0.123801 -0.054074 -0.047844  0.025185

mp_year                          2017      2018      2019
adm0_name   cm_name_grouped
Afghanistan Bread           -0.006384 -0.004228  0.000900
            Exchange         0.014753  0.200153  0.154888
            Fuel             0.000044  0.000035  0.000014
            Livestock             NaN       NaN       NaN
            Rice             0.038895  0.025792 -0.002980

[5 rows x 28 columns]

,Beef,Hides,Lamb,Pork,Coal,Natural gas,Petroleum,Barley,Corn,Rice,...,Coffee,Cotton,Cottonseed,Palm oil,Peanuts,Rubber,Sugar,Tea,Tobacco,Wool
Year,,,,,,,,,,,,,,,,,,,,,
1850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1851,-0.010170,0.023602,-0.004758,0.046884,0.022349,NaN,NaN,0.011625,-0.015235,-0.034382,...,-0.070922,-0.084111,NaN,-0.031981,NaN,NaN,0.018966,-0.043519,0.042030,0.006350
1852,0.000198,-0.017233,-0.007296,0.042192,-0.014859,NaN,NaN,0.048402,0.019224,0.036744,...,-0.025913,-0.006642,NaN,0.005002,NaN,NaN,-0.079345,-0.079617,-0.062694,0.044508
1853,0.063508,0.028436,0.055976,-0.031150,0.036928,NaN,NaN,0.106640,0.014382,0.117016,...,0.020381,-0.003613,NaN,0.120354,NaN,NaN,0.143810,0.164826,0.055936,0.068766
1854,0.030781,0.041086,-0.005565,-0.044150,0.087783,NaN,NaN,0.045289,0.062044,0.067966,...,0.058618,-0.050979,NaN,0.148120,NaN,NaN,-0.032829,0.007600,-0.000959,-0.043678

### Filter

[TODO] Filter waardes in de food_data die verstorend werken

### Utilities

In [18]:
# quick lists
sorted_commodities = food_df.groupby(by=["cm_name"]).size().sort_values(ascending=False).index
best_commodities = sorted_commodities[:10]

sorted_commodities_grouped = food_df.groupby(by=["cm_name_grouped"]).size().sort_values(ascending=False).index
best_commodities_grouped = sorted_commodities_grouped[:10]

sorted_countries = food_df.groupby(by=["adm0_name"]).size().sort_values(ascending=False).index
best_countries = sorted_countries[:10]

display(best_commodities,best_commodities_grouped, best_countries)

Index(['Millet - Retail', 'Maize - Retail', 'Sorghum - Retail',
       'Rice (imported) - Retail', 'Sugar - Retail', 'Rice (local) - Retail',
       'Rice - Retail', 'Wheat flour - Retail', 'Maize (white) - Retail',
       'Wheat - Retail'],
      dtype='object', name='cm_name')

Index(['Rice', 'Maize', 'Oil', 'Beans', 'Wheat', 'Meat', 'Sorghum', 'Millet',
       'Fuel', 'Sugar'],
      dtype='object', name='cm_name_grouped')

Index(['Rwanda', 'Bassas da India', 'Mali', 'Niger', 'Syrian Arab Republic',
       'Democratic Republic of the Congo', 'Kyrgyzstan', 'Burundi', 'Zambia',
       'Lebanon'],
      dtype='object', name='adm0_name')

## Verkenning

### [Barchart] Hoeveelheid data

In [19]:
def barchart_ui(data_func):
    "seperates the ui from the data and rendering"
    value_toggle = widgets.ToggleButtons(
        options=[("Total Records",
                  "total_records"), ("Filled years", "filled_years")])

    grouping_toggle = widgets.ToggleButtons(
        options=[("Original Commodities", ["adm0_name", "cm_name"]),
                 ("Grouped Commodities", ["adm0_name", "cm_name_grouped"]), 
                 ("Country", ["adm0_name"])])

    length_slider = widgets.IntSlider(min=1,
                                      max=51,
                                      step=1,
                                      continuous_update=False,
                                      value=25)

    interact(data_func,
             value=value_toggle,
             grouping=grouping_toggle,
             length=length_slider)

In [20]:
def barchart_render(data, title):
    """render a horizontal barchart with some configuration"""
    barchart_trace = go.Bar(y=data.index, x=data.values, orientation='h')
    layout = go.Layout(yaxis=dict(automargin=True),
                       height=200 + 20 * len(data.index),
                       title=title)

    iplot(go.Figure(data=[barchart_trace], layout=layout))


def barchart_data(value="total_records", grouping=["adm0_name"], length=25):
    """switch between different groupings and values"""
    # group by the user selection
    groups = food_df.groupby(by=[*grouping, "mp_year"])

    # check the value to determine the metric
    if value == "total_records":
        data = groups.size()

    if value == "filled_years":
        data = groups["mp_price"].any()

    # regroup by the last level, sum and sort
    data = data.groupby(level=grouping[-1:]).sum().sort_values()
    title = f"Total {grouping} by {value}: {data.sum()} "
    
    barchart_render(data[-length:], title)

barchart_ui(barchart_data)

interactive(children=(ToggleButtons(description='value', options=(('Total Records', 'total_records'), ('Filled…

### [Heatmap] Locatie van de data

[TODO] Has a weird bug on first render which doesn't show chart

In [21]:
def heatmap_ui(data_func):
    """seperates the quite complex heatmap ui from the transformations and rendering"""
    # construct a dict of togglable widgets so hiding becomes easier
    togglable_widgets = {
        "country": widgets.Dropdown(options=food_df["adm0_name"].unique()),
        "commodity": widgets.Dropdown(options=best_commodities_grouped)
    }

    # toggle buttons
    subject_widget = widgets.ToggleButtons(
        options=["commodity", "country"],
        description='Subject',
        value="commodity",
    )

    value_widget = widgets.ToggleButtons(
        options=["count", "mp_price_norm", "mp_price_norm_diff"],
        description='Value',
        value="count",
    )

    # setup ui layout
    ui = VBox([
        HBox([
            subject_widget, togglable_widgets["country"],
            togglable_widgets["commodity"]
        ]), value_widget
    ])

    def widget_toggle_func(**kwargs):
        """helper to toggle visiblity of widgets, uses a closure to get access to the toggleable widgets"""
        for widget in togglable_widgets.values():
            widget.layout.display = "none"
        togglable_widgets[kwargs["subject"]].layout.display = "flex"

        # render the actual barchart
        data_func(**kwargs)

    # interactive argument widget bindings
    out = interactive_output(
        widget_toggle_func, {
            "subject": subject_widget,
            "value": value_widget,
            "commodity": togglable_widgets["commodity"],
            "country": togglable_widgets["country"]
        })

    # display the ui and bind the output
    display(ui, out)

In [22]:
def heatmap_render(data, trace_layout, title):
    """render the output"""
    heatmap_trace = go.Heatmap(z=data.values,
                               x=data.columns,
                               y=data.index,
                               **trace_layout)
    
    axis = dict(tickfont=dict(size=10), showticklabels=True, automargin=True)
    layout = go.Layout(height=200 + 12 * len(data.index),
                       xaxis={"range": [1990, 2019]},
                       yaxis=axis,
                       title=title)

    fig = go.Figure(data=[heatmap_trace], layout=layout)
    iplot(fig)


def heatmap_data(subject, value, commodity, country):
    """transform the food_df to something usable"""
    groups = food_df.groupby(by=["adm0_name", "cm_name_grouped", "mp_year"])

    # determine the metric
    if value == "count":
        metric = groups.size()
        trace_layout = {"zmin": 0, "zmax": 200, "colorscale": "Viridis"}

    elif value == "mp_price_norm":
        metric = groups["mp_price_norm"].mean()
        trace_layout = {"zmin": 0, "zmax": 1, "colorscale": "Viridis"}

    elif value == "mp_price_norm_diff":
        metric = groups["mp_price_norm"].mean().groupby(level=["adm0_name", "cm_name_grouped"]).diff()
        trace_layout = {
            "zmin": -0.4,
            "zmax": 0.4,
            "colorscale": [[1, 'rgb(239,138,98)'], [0.5, 'rgb(255,255,255)'],
                           [0, 'rgb(103,169,207)']]
        }

    # determine the level on which the cross-section needs to be taken
    def take_xs(subject, metric):
        if subject == "commodity":
            return metric.xs(commodity, level="cm_name_grouped")

        elif subject == "country":
            return metric.xs(country, level="adm0_name")

    # take the cross-section, unstack, sort and add missing years
    data = take_xs(subject, metric).unstack(level="mp_year")
    data = data.reindex(sorted(data.columns), axis=1)

    # construct a count, title and render
    record_count = take_xs(subject, groups.size()).sum()
    title = f"{commodity if subject == 'commodity' else country} ({record_count} records)"
    heatmap_render(data, trace_layout, title)


heatmap_ui(heatmap_data)

VBox(children=(HBox(children=(ToggleButtons(description='Subject', options=('commodity', 'country'), value='co…

Output()

### [Line] Means, medians and spread

In [23]:
def linehisto_ui(func):
    # toggle buttons
    value_widget = widgets.ToggleButtons(
        options=["mp_price", "mp_price_norm"],
        description='Value',
        value="mp_price_norm",
    )

    interact(func,
             value=value_widget,
             country=[*food_df["adm0_name"].unique(), "World"],
             commodity=[*best_commodities_grouped, "All"])

In [24]:
def make_line_trace(data, name):
    return go.Scatter(x=data.index, y=data.values, name=name)


def make_scatter_trace(data):
    return go.Scattergl(x=data.index,
                        y=data,
                        mode='markers',
                        name="Meetpunten",
                        marker=dict(color="#2077b4",
                                    size=2,
                                    line=dict(width=0)))


def line_render(data_scatter, data_mean, data_median, data_world_mean, title):
    """plot a line"""
    trace_scatter = make_scatter_trace(data_scatter)
    trace_mean = make_line_trace(data_mean, "Mean")
    trace_median = make_line_trace(data_median, "Median")
    trace_world_mean = make_line_trace(data_world_mean, "World Mean")

    layout = go.Layout(title=title, height=800)
    fig_scatter = go.Figure(
        data=[trace_scatter, trace_mean, trace_median, trace_world_mean],
        layout=layout)

    iplot(fig_scatter)


def line_data(value, country, commodity):
    """seperate the transformations from ui and rendering"""
    # scatter
    data = food_df if country == "World" else food_df[food_df["adm0_name"] == country]
    data = data if commodity == "All" else data[data["cm_name_grouped"] == commodity]

    # scatter
    data_scatter = data.set_index(data["mp_date"])[value]

    # mean
    data_mean = data.groupby(by=[data.mp_date.dt.year])[value].mean()

    # median
    data_median = data.groupby(by=[data.mp_date.dt.year])[value].median()

    # naive world mean (only makes sense if normalized)
    if value == "mp_price_norm":
        # truncate the world data        
        food_df_trunc = food_df[food_df["mp_year"] >= data["mp_year"].min()]
        # make a mean  
        data_world_mean = food_df_trunc.groupby(by="mp_year")[value].mean()
    else:
        data_world_mean = pd.Series()
    
    # render the line
    title = f"{country}: {commodity}"
    line_render(data_scatter=data_scatter,
                data_mean=data_mean,
                data_median=data_median,
                data_world_mean=data_world_mean,
                title=title)

linehisto_ui(line_data)

interactive(children=(ToggleButtons(description='Value', index=1, options=('mp_price', 'mp_price_norm'), value…

### [Histogram] Distributies

In [25]:
def make_histo_trace(trace_data, xbins, name):
    return go.Histogram(x=trace_data, xbins=xbins, name=name)

def histo_render(data):
    """plot a histogram matrix"""
    # get all possible years
    years = data.index.year.unique().values

    # use the subplot helper to assign axis labels and do part of the math
    rows = math.ceil(len(years) / 3)
    cols = 3
    fig_histo = tools.make_subplots(rows=rows,
                                    cols=cols,
                                    print_grid=False, 
                                    subplot_titles=years.astype('str'),
                                    vertical_spacing=0.3/rows)
    fig_histo.layout.update(showlegend = False)
    fig_histo.layout.update(height = 150 * rows)

    # properly set the bins
    xbins = dict(
        start=0,
        end=data.max(),
        size=data.max() / 100,
    )

    # construct all individual traces
    for i in range(len(years)):
        trace_data = data[data.index.year == years[i]]
        name = f"{years[i]}"
        histo_trace = make_histo_trace(trace_data, xbins, name)
        fig_histo.append_trace(histo_trace, math.ceil((i + 1) / 3), i % 3 + 1)

    iplot(fig_histo)

    
def histo_data(value, country, commodity):
    """seperate the transformations from ui and rendering"""
    data = food_df if country == "World" else food_df[food_df["adm0_name"] == country]
    data = data if commodity == "All" else data[data["cm_name_grouped"] == commodity]

    # render the histogram matrix
    histo_render(data.set_index(data["mp_date"])[value])   

linehisto_ui(histo_data)

interactive(children=(ToggleButtons(description='Value', index=1, options=('mp_price', 'mp_price_norm'), value…

### [Table] Descriptives

In [26]:
def descriptives_data(value, country, commodity):
    """calculate complete descriptives"""
    data = food_df if country == "World" else food_df[food_df["adm0_name"] == country]
    data = data if commodity == "All" else data[data["cm_name_grouped"] == commodity]
    
    # per year     
    descriptives = data.groupby(by=["mp_year"])[value].describe()
    descriptives["skew"] = data.groupby(by=["mp_year"])[value].skew()
    descriptives["kurtosis"] = data.groupby(by=["mp_year"])[value].apply(pd.DataFrame.kurt)
    
    # totals    
    totals = data[value].describe().rename("Total")
    totals["skew"] = data[value].skew()
    totals["kurtosis"] = data[value].kurtosis()
    
    # do the final bits    
    descriptives = descriptives.append(totals)
    descriptives["cv"] = descriptives["std"] / descriptives["mean"]
    descriptives = descriptives[['count', 'mean', 'std', 'cv', 'min', '25%', '50%', '75%', 'max', 'skew','kurtosis']]
    
    # style it
    descriptives = descriptives.style.background_gradient(cmap="viridis")
    
    # render them
    display(descriptives)

linehisto_ui(descriptives_data)

interactive(children=(ToggleButtons(description='Value', index=1, options=('mp_price', 'mp_price_norm'), value…

[Line + Histo + Descript combination] Zie alles met een enkele UI

[TODO] get rid of the (None, None) created by the lambda. Somehow seems to be harder to remove that it should be  
[TODO] perf: heeft een serieus snelheidsprobleem doordat ze allemaal hun eigen matrixen bouwen.

In [27]:
# linehisto_ui(lambda **kwargs: (line_data(**kwargs), histo_data(**kwargs)))
# linehisto_ui(lambda **kwargs: (line_data(**kwargs), histo_data(**kwargs), descriptives_data(**kwargs)))

### [Correlatiematrix of correlelogram] Overzicht over correlaties

[TODO] Detail verbeteren naar maanden, sommigen sets correleren op bar weinig punten

In [28]:
def correlation_ui(func):
    """seperates the quite complex heatmap ui from the transformations and rendering"""
    # construct a dict of togglable widgets so hiding becomes easier
    county_widget = widgets.Dropdown(options=sorted_countries)
    
    togglable_widgets = {
        "adm0_name": county_widget,
        "adm0_name_grouped": county_widget,
        "cm_name_grouped": widgets.Dropdown(options=sorted_commodities_grouped),
        "cm_name": widgets.Dropdown(options=sorted_commodities)
    }

    # toggle buttons
    subject_widget = widgets.ToggleButtons(
        options=[("grouped commodity", "cm_name_grouped"), ("commodity", "cm_name"), ("country", "adm0_name"), ("country grouped", "adm0_name_grouped")],
        description='Subject',
    )

    value_widget = widgets.ToggleButtons(
        options=["mp_price", "mp_price_norm"],
        description='Value',
    )
    
    treshold_widget = widgets.FloatSlider(
        value=0.8,
        min=0,
        max=1,
        step=0.1,
        description='Treshold (r)',
        continuous_update=False,
    )

    def widget_toggle_func(**kwargs):
        """helper to toggle visiblity of widgets, uses a closure to get access to the toggleable widgets"""
        for widget in togglable_widgets.values():
            widget.layout.display = "none"
        togglable_widgets[kwargs["subject"]].layout.display = "flex"

        # render the actual barchart
        func(**kwargs)

        
    # setup ui layout
    ui = VBox([
        HBox([
            subject_widget, togglable_widgets["adm0_name"],
            togglable_widgets["cm_name"],
            togglable_widgets["cm_name_grouped"]
        ]), value_widget, treshold_widget
    ])
    
    # interactive argument widget bindings
    out = interactive_output(
        widget_toggle_func, {
            "subject": subject_widget,
            "value": value_widget,
            "commodity": togglable_widgets["cm_name"],
            "commodity_grouped": togglable_widgets["cm_name_grouped"],
            "country": togglable_widgets["adm0_name"],
            "treshold": treshold_widget
        })

    # display the ui and bind the output
    display(ui, out)

In [29]:
def corr_matrix_render(data, title):
    trace = go.Heatmap(x=data.index,
                       y=data.index,
                       z=data,
                       zmin=-1,
                       zmax=1,
                       showscale=False)

    axis = dict(tickfont=dict(size=7), showticklabels=True, automargin=True)

    layout = go.Layout(autosize=True,
                       width=300 + 11 * len(data.index),
                       height=300 + 11 * len(data.index),
                       yaxis=axis,
                       xaxis=axis,
                       title=title)

    corr_fig = go.Figure(data=[trace], layout=layout)

    iplot(corr_fig)

def correlation_data(subject, value, country, commodity, commodity_grouped, treshold=0.7):
    if subject == "adm0_name" or subject == "adm0_name_grouped":
        commodity_grouping =  "cm_name" if subject == "adm0_name" else "cm_name_grouped"
        data_series = food_df.groupby(by=["adm0_name", commodity_grouping, "mp_year"])[value].mean().xs(country, level="adm0_name")
        corr_matrix = data_series.unstack(level=commodity_grouping)
    else:
        commodity_type = commodity if subject == "cm_name" else commodity_grouped
        data_series = food_df.groupby(by=["adm0_name", subject, "mp_year"])[value].mean().xs(commodity_type, level=subject)
        corr_matrix = data_series.unstack(level="adm0_name")
        
    corr_matrix = corr_matrix.corr()
       
    # give a threshold to make a tad more readable by removing things that do not correlate     
    flattend_corr_matrix = corr_matrix.unstack()
    corr_matrix_ss = flattend_corr_matrix[(flattend_corr_matrix > treshold) | (flattend_corr_matrix < -treshold)].unstack()
    
    corr_matrix_render(corr_matrix_ss, "matrix")

correlation_ui(correlation_data)

VBox(children=(HBox(children=(ToggleButtons(description='Subject', options=(('grouped commodity', 'cm_name_gro…

Output()

### [Splom] Voor meer detail in geselecteerde correlaties

In [30]:
def splom_render(data):
    trace1 = go.Splom(dimensions=data)
    layout = go.Layout(title='Commodity correlations', height=1000)
    fig = go.Figure(data=[trace1], layout=layout)
    iplot(fig)


def splom_data(subject, value, country, commodity, commodity_grouped, treshold=0.7):
    if subject == "adm0_name" or subject == "adm0_name_grouped":
        commodity_grouping =  "cm_name" if subject == "adm0_name" else "cm_name_grouped"
        data_series = food_df.groupby(by=["adm0_name", commodity_grouping, "mp_year"])[value].mean().xs(country, level="adm0_name")
        corr_matrix = data_series
    else:
        commodity_type = commodity if subject == "cm_name" else commodity_grouped
        data_series = food_df.groupby(by=["adm0_name", subject, "mp_year"])[value].mean().xs(commodity_type, level=subject)
        corr_matrix = data_series
    
    groups = corr_matrix.groupby(level="adm0_name").apply(lambda df: df.values)
    data = [{
        "label": label,
        "values": values
    } for label, values in groups.items()][:10]
    
    splom_render(data)

correlation_ui(splom_data)

VBox(children=(HBox(children=(ToggleButtons(description='Subject', options=(('grouped commodity', 'cm_name_gro…

Output()

### [Maps] Voedselkaart

In [33]:
def map_graph(commodity, year):
    # Plot the mean price, of all commodities on map, of all years.
    series = food_diff_df.xs(commodity, level="cm_name_grouped")[year]
    
    map_data = [go.Choropleth(
        locations = series.index,
        locationmode = "country names",
        z = series.values,
    )]
    
    fig = go.Figure(data = map_data)
    iplot(fig)  
    
interact(map_graph, commodity=best_commodities_grouped, year=(1996, 2019, 1))

interactive(children=(Dropdown(description='commodity', options=('Rice', 'Maize', 'Oil', 'Beans', 'Wheat', 'Me…

# Klimaat

Nu eens kijken of het samenhangt met klimaat. Ik heb het gevoel dat hier enige correlatie vinden hier moeilijk gaat worden.

## Load data

In [62]:
climate_df = pd.read_csv("./climate_data/GlobalLandTemperaturesByCountry.csv", low_memory=False, parse_dates=["dt"]).dropna()
display(climate_df["dt"].dt.year.head())

0    1743
5    1744
6    1744
7    1744
8    1744
Name: dt, dtype: int64

## Transform

### Normaliseer

In [69]:
# apply the normalize function (with a partial for the key)
climate_df["AverageTemperature_norm"] = climate_df.groupby(by=["Country"])["AverageTemperature"].apply(normalize_series_minmax)

### Gemiddelde en differentiatie

In [78]:
climate_diff = climate_df.groupby(
    by=["Country", climate_df["dt"].dt.year]).mean().groupby(
        level=["Country"])["AverageTemperature_norm"].diff()

Country      dt
Afghanistan  1838         NaN
             1840   -0.150097
             1841    0.017655
             1842    0.034971
             1843   -0.042266
             1844   -0.018361
             1845    0.004748
             1846    0.021913
             1847   -0.016782
             1848   -0.010256
             1849    0.009314
             1850   -0.003577
             1851    0.008450
             1852   -0.001949
             1853   -0.002579
             1854    0.004531
             1855    0.009614
             1856   -0.013878
             1857   -0.011795
             1858    0.017825
             1859    0.007478
             1860   -0.015324
             1861   -0.004075
             1862   -0.010107
             1863    0.021268
             1864   -0.014004
             1865    0.009523
             1866   -0.002204
             1867    0.016845
             1868   -0.008513
             1869    0.002556
             1870    0.000642
             1871   -0.005088
             1872    0.007609
             1873    0.003420
             1874   -0.003184
             1875    0.008546
             1876   -0.018389
             1877    0.004544
             1878    0.004901
             1879    0.001529
             1880    0.008213
             1881    0.002133
             1882   -0.025273
             1883    0.005037
             1884   -0.006619
             1885   -0.010586
             1886    0.005108
             1887    0.013324
             1888    0.018187
                       ...
Åland        1964    0.021273
             1965   -0.021501
             1966   -0.017718
             1967    0.048098
             1968   -0.021471
             1969   -0.007746
             1970   -0.014481
             1971    0.035956
             1972    0.022367
             1973   -0.004879
             1974    0.017320
             1975    0.014338
             1976   -0.073225
             1977    0.009936
             1978   -0.017678
             1979    0.006909
             1980    0.006397
             1981    0.001281
             1982    0.022049
             1983    0.010723
             1984    0.003065
             1985   -0.084267
             1986    0.046674
             1987   -0.039029
             1988    0.069523
             1989    0.037994
             1990   -0.000853
             1991   -0.023985
             1992    0.010616
             1993   -0.026660
             1994   -0.000221
             1995    0.009155
             1996   -0.029347
             1997    0.043782
             1998   -0.025363
             1999    0.028096
             2000    0.015813
             2001   -0.026850
             2002    0.012166
             2003   -0.014544
             2004    0.005945
             2005    0.006255
             2006    0.011464
             2007   -0.002180
             2008    0.014105
             2009   -0.030544
             2010   -0.049544
             2011    0.070299
             2012   -0.033701
             2013    0.005049
Name: AverageTemperature_norm, Length: 45915, dtype: float64

## Verkenning

### [Map] Klimaat

In [82]:
def map_climate(year):
    # calulate the mean for the year
    year_data = climate_diff.xs(year, level=1, drop_level=False)
    map_data = go.Choropleth(locations=year_data.index.get_level_values("Country"),
                             locationmode="country names",
                             z=year_data.values)
    
    fig = go.Figure(data=[map_data])

    iplot(fig)

interact(map_climate, year=(1996, 2013, 1))

interactive(children=(IntSlider(value=2004, description='year', max=2013, min=1996), Output()), _dom_classes=(…

# Eindvisualisaties

Om te controleren of de dataset correct is moeten we natuurlijk even een test draaien. Ik heb globale voedselprijzen even als benchmark genomen. Daar ligt waarschijnlijk een sterke correlatie, zeker voor gebieden die niet direct in conflict zijn.

[imf commodity prices data] https://www.imf.org/en/Research/commodity-prices  
[interessante analyse voedsel] https://ourworldindata.org/food-prices  
[interessante statistische analyse van commodities] https://www.imf.org/~/media/Files/Research/CommodityPrices/WEOSpecialFeature/SFApril2019.ashx

## Lijngrafiek

In [86]:
def line_render(data_series): 
    traces = [go.Scatter(name=series.name,
                         x=series.index,
                         y=series.values) for series in data_series]
    
    iplot(traces)

def line_data(commodity):
    commodity_data = food_diff_df.xs(commodity, level="cm_name_grouped").mean().rename(commodity)
    fuel_data = food_diff_df.xs("Fuel", level="cm_name_grouped").mean().rename("Brandstof")
    imf_data = imf_diff_df[commodity][-25:].iloc[-25:].rename("IMF")
    climate_data = climate_diff.groupby(level="dt").mean().loc[1994:2013].rename("Klimaat")
    
    line_render([commodity_data, fuel_data, imf_data, climate_data])
    
def line_ui():
    interact(line_data, commodity=["Rice", "Wheat", "Sugar"])

    
line_ui()

interactive(children=(Dropdown(description='commodity', options=('Rice', 'Wheat', 'Sugar'), value='Rice'), Out…

## Correlelogram

[WIP]

In [87]:
# scatter_data = pd.DataFrame([control, test, climate_series, fuel]).T

# trace1 = go.Splom(dimensions=[
#         dict(label='Rice', values=scatter_data['Rice']),
#         dict(label='IMF', values=scatter_data['IMF']),
#         dict(label='Klimaat', values=scatter_data['Klimaat']),
#         dict(label='Fuel', values=scatter_data['Fuel'])
#     ],stff =1 )

#     axis = dict(showline=True, zeroline=False, gridcolor='#fff', ticklen=4)

#     layout = go.Layout(title='FOOD',
#                        dragmode='select',
#                        width=600,
#                        height=600,
#                        autosize=False,
#                        hovermode='closest',
#                        plot_bgcolor='rgba(240,240,240, 0.95)',
#                        xaxis1=dict(axis),
#                        xaxis2=dict(axis),
#                        xaxis3=dict(axis),
#                        xaxis4=dict(axis),
#                        yaxis1=dict(axis),
#                        yaxis2=dict(axis),
#                        yaxis3=dict(axis),
#                        yaxis4=dict(axis))

#     fig1 = dict(data=[trace1], layout=layout)
#     iplot(fig1, filename='splom-iris1')

## Map

In [94]:
def double_map_render(rice_data, climate_data):
    climate_trace = go.Choropleth(
        locations=climate_data.index,
        locationmode="country names",
        z=climate_data.values,
        geo="geo1",
        showscale=False)
    
    rice_trace = go.Choropleth(locations=rice_data.index,
                               locationmode="country names",
                               z=rice_data.values,
                               geo="geo2",
                               showscale=False,
                               zmin=-0.5,
                               zmax=0.5)
    
    layout = {
        'geo': {
            'domain': {
                'x': [0.0, 0.5],
                'y': [0, 1.0]
            },
            "showframe": False,
            "lonaxis": {
                "range": [-30, 170]
            },
            "lataxis": {
                "range": [-35, 45]
            }
        },
        'geo2': {
            'domain': {
                'x': [0.5, 1],
                'y': [0, 1.0]
            },
            "showframe": False,
            "lonaxis": {
                "range": [-30, 170]
            },
            "lataxis": {
                "range": [-35, 45]
            }
        }
    }

    return go.FigureWidget(data=[climate_trace, rice_trace], layout=layout)    

def double_map_data(commodity, year):
    climate_data = climate_diff.xs(year, level="dt")
    rice_data = food_diff_df.xs(commodity, level="cm_name_grouped")[year]
    display(double_map_render(rice_data, climate_data))
    
def double_map_ui():
    interact(double_map_data, commodity=[*sorted_commodities_grouped, "All"], year=(2007, 2013, 1))
    double_map_data
    
    
double_map_ui()

interactive(children=(Dropdown(description='commodity', options=('Rice', 'Maize', 'Oil', 'Beans', 'Wheat', 'Me…

# Todo

1. Maandniveau om lijnen gladder te maken en plots gedetaileerder
2. Scatterplot
3. Kijken naar de kaart